<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Matsvey Malchanau</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url('static', filename='/img/my_logo.png') }}" rel="icon">
  <link href="{{ url('static', filename='/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url('static', filename='/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url('static', filename='/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url('static', filename='/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url('static', filename='/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url('static', filename='/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url('static', filename='/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url('static', filename='/css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Personal - v4.10.0
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <h1><a href="/">Matsvey Malchanau</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      <h2>Software Python Developer</h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#resume">Resume</a></li>
          <li><a class="nav-link" href="#services">My Projects</a></li>
          <li><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="https://t.me/Matsvey_Malchanau" target="_blank" class="telegram"><i class="bi bi-telegram"></i></a>
        <a href="https://www.linkedin.com/in/matsvey-malchanau/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
        <a href="https://www.instagram.com/molchanov.matvey/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="{{ url('static', filename='/img/me-removebg-preview.png') }}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Greetings!</h3>
          <p class="fst-italic">
            I'm a Python Deloveper and Medical Doctor. Let I tell about myself!
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>8 May 1991</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+375 29 117 02 21</span></li>
               
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Gomel, Belarus</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>matsvey.malchanau.python@gmail.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Relocate:</strong> <span>Available</span></li>
              </ul>
            </div>
          </div>
          <p>
             Let's get acquainted!
             My first specialty is a doctor. I has graduated from Gomel State Medical University in 2015. After there I worked as doctor at Buda-Koshelevo hospital.</p>
              <p> In 2018 I changed jobs and I started to work as Emergency Doctor at Ministry of Emergency situations. Throughout my career, I have constantly worked in a large team, I can find a some common language with people. </p>
           <p> My path in IT started with clumsy attempts to create a site on Wix.com for my friend's organization. This area interested me and I decided to continue studying web development. I chose the backend, in particular Python, because this language is flexible, has extensive libraries, and a large number of application areas.</p>
          <p> In 2021 I started my studies at TeacmMeSkills IT-school. During the training, I mastered the basic use of the Python language, its main libraries, got acquainted with the Django and Flask frameworks. I independently implemented an online-store in Django with the main functions of this kind of project as a graduation project. </p>
          <p> Now I continue to independently study the Python language. Unfortunately, I did not have a mentor who could point out my mistakes, but I try to draw information from various sources, find the opinions of various experts in this field. The main source of new information is official documentation and books for me. I'm sure that 90% of the questions can be answered there. Of course, any sources that will help you come to the right solution are suitable for solving problems. </p>
          <p> I am convinced that the main thing for a modern person is to constantly learn and move forward. Today I am improving my skills in the backend, but I also try to get new knowledge from the frontend and DevOps area. In the future, I want to learn JavaScript, React.</p>
          <p>My dream is to speak German fluently.</p>

          
        </div>
      </div>

    </div><!-- End About Me -->


    <!-- ======= TechStack ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>TechStack</h2>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <img src="{{ url('static', filename='/img/iconbox/icons8-python.svg') }}" style="color: #4233ff;">&nbsp
            <h3>Python</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <img src="{{ url('static', filename='/img/iconbox/icons8-django-48.png') }}" height="48px" style="color: #4233ff;">&nbsp
            <h3>Django</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
           <img src="{{ url('static', filename='/img/iconbox/icons8-flask.png') }}" height="48px" style="color: #4233ff;">&nbsp
            <h3>Flask</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <img src="{{ url('static', filename='/img/iconbox/icons8-aiohttp.png') }}" height="48px" style="color: #4233ff;">&nbsp
            <h3>Aiohttp</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <img src="{{ url('static', filename='/img/iconbox/icons8-drf.png') }}" height="48px" style="color: #4233ff;">&nbsp
            <h3>DRF</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
             <img src="{{ url('static', filename='/img/iconbox/icons8-postgresql-48.png') }}" height="48px" style="color: #4233ff;">&nbsp
            <h3>SQL</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
             <img src="{{ url('static', filename='/img/iconbox/icons8-mongodb-48.png') }}" height="48px" style="color: #4233ff;">&nbsp
            <h3>NoSQL</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
           <img src="{{ url('static', filename='/img/iconbox/icons8-docker-48.png') }}" height="48px" style="color: #4233ff;">&nbsp
            <h3>Docker</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <img src="{{ url('static', filename='/img/iconbox/icons8-docker-48.png') }}" height="48px" style="color: #4233ff;">&nbsp
            <h3>Docker Compose</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <img src="{{ url('static', filename='/img/iconbox/icons8-pytest.png') }}" height="48px" style="color: #4233ff;">&nbsp
            <h3>Pytest</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
             <img src="{{ url('static', filename='/img/iconbox/icons8-selenium-48.png') }}" height="48px" style="color: #4233ff;">&nbsp
            <h3>Selenium</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
             <img src="{{ url('static', filename='/img/iconbox/icons8-celery.png') }}" height="48px" style="color: #4233ff;">&nbsp
            <h3>Celery</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <img src="{{ url('static', filename='/img/iconbox/icons8-linux-48.png') }}" height="48px" style="color: #4233ff;">&nbsp
            <h3>Linux</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
           <img src="{{ url('static', filename='/img/iconbox/icons8-html-48.png') }}" height="48px" style="color: #4233ff;">&nbsp
            <h3>HTML</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <img src="{{ url('static', filename='/img/iconbox/icons8-css3-48.png') }}" height="48px" style="color: #4233ff;">&nbsp
            <h3>CSS</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <img src="{{ url('static', filename='/img/iconbox/icons8-bootstrap-48.png') }}" height="48px" style="color: #4233ff;">&nbsp
            <h3>Bootstrap 5</h3>
          </div>
        </div>
      </div>

    </div><!-- End Interests -->

          

  </section><!-- End About Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Freelance</h4>
            <p><em>Now I work as freelance. I improve my skills in my own projects</em></p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Python Developer (student)</h4>
            <h5>2021 - 2022</h5>
            <p><em>TeachMeSkills (online)</em></p>
          </div>
          <div class="resume-item">
            <h4>Gomel State Medical University</h4>
            <h5>2009 - 2015</h5>
            <p><em>Medical Doctor</em></p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Freelance Python Developer</h4>
            <h5>2022 - Present</h5>
            <p>
            <ul>
              <li>Development own projects with new technologies ("<a href="#services" target="_blank">My Projects</a>")</li>
              <li>Deep learn backend</li>
              <li>Technology stack expansion</li>
              <li>Improvement of theoretical knowledge in the field of web development, networks</li>
              <li>Learning JS, DevOps</li>
              <li>Learning English, German</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>TeachMeSkills (student)</h4>
            <h5>2021 - 2022</h5>
            <p><em>Online</em></p>
            <ul>
              <li>Learning Python</li>
              <li>Exploring built-in and external libraries</li>
              <li>Learning the main frameworks (Django,Flask)</li>
              <li>Learning Git (Gitlab, Github)</li>
              <li>Work with the SQL</li>
              <li>Creation and development of the graduation project (online-store)</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>My Projects</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 align-items-stretch">
          <div class="icon-box">
            <div class="icon"><img src="{{ url('static', filename='/img/projects_logo/logo_4isto.png') }}" width="60px">
            </div>
            <h4><a href="/4istolife" target="_blank"> 4istoLIFE</a></h4>
            <p>Web-site for cleaning company</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 align-items-stretch">
          <div class="icon-box">
            <div class="icon"><img src="{{ url('static', filename='/img/projects_logo/logo_DjangoMarket.png') }}" width="60px"></div>
            <h4><a href="/djangomarket" target="_blank"> DjangoMarket</a></h4>
            <p>Online-store</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 align-items-stretch">
          <div class="icon-box">
            <div class="icon"><img src="{{ url('static', filename='/img/projects_logo/logo_wallet.png') }}" width="60px"></div>
            <h4><a href="" target="_blank"> Wallet-manager</a></h4>
            <p>API-wallet</p>
          </div>
        </div>
      </div>
	<div class="row">
        <div class="col-lg-4 col-md-6 align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><img src="{{ url('static', filename='/img/projects_logo/logo_Matsvey.png') }}" width="60px">
            </div>
            <h4><a href="/mypersonalwebsite" target="_blank"> Matsvey Malchanau</a></h4>
            <p>My personal web-site</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

  
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Me</p>
      </div>

      <div class="row mt-2">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>Gomel</h3>
            <p>Belarus</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Social Profiles</h3>
            <div class="social-links">
		<a href="https://t.me/Matsvey_Malchanau" target="_blank" class="telegram"><i class="bi bi-telegram"></i></a>
        <a href="https://www.linkedin.com/in/matsvey-malchanau/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
        <a href="https://www.instagram.com/molchanov.matvey/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
      </div>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email</h3>
            <p>matsvey.malchanau.python@gmail.com</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-phone-call"></i>
            <h3>Phone</h3>
            <p>+375 29 117 02 21</p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->

  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
  </div>

  <!-- Vendor JS Files -->
  <script src="{{ url('static', filename='/vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url('static', filename='/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url('static', filename='/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url('static', filename='/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url('static', filename='/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url('static', filename='/vendor/waypoints/noframework.waypoints.js') }}"></script>
  <script src="{{ url('static', filename='/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url('static', filename='/js/main.js') }}"></script>

</body>

</html>
