<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>My Pesonal CV web-site</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url('static', filename='/img/my_logo.png') }}" rel="icon">
  <link href="{{ url('static', filename='/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url('static', filename='/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url('static', filename='/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url('static', filename='/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url('static', filename='/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url('static', filename='/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url('static', filename='/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url('static', filename='/css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Personal - v4.10.0
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main id="main">

    <!-- ======= Portfolio Details ======= -->
    <div id="portfolio-details" class="portfolio-details">
      <div class="container-fluid" align="center">

        <div class="row">
          <h3 class="portfolio-title" align="left" style="padding-left:110px">My CV web-site (this web-site)</h3>
        </div>


      <div class="col col-lg-10" align="justify" >
        <h3>Project information</h3>
            <ul>
              <li><strong>Name</strong>: Matsvey Malchanau</li>
              <li><strong>Category</strong>: CV web-site</li>
              <li><strong>Project date</strong>: January, 2023</li>
              <li><strong>Project code</strong>: <a href="https://github.com/MattheusBy/MyPersonalWebSite" target="_blank">GitHub</a></li>
            </ul>
      </div>
      <div class="col col-lg-10" align="justify">
        <h3>Project description</h3>
        <p style="text-indent: 50px">
        The purpose of this project is to create a personal CV site
        with extended information about me and detailed descriptions of projects
        that are inappropriate to list on a resume</p>
        <p style="text-indent: 50px">
        This is a small project which entirely performs the tasks assigned to it,
        so the functionality is quite limited.
        For the implementation of this project I chose Aiohttp-framework to work
        with the new framework, different from Flask, Django.
        </p>
      <ul>
        <li>The UI was made on a Bootstrap 5 template
          with customization of individual elements (background, project-pages and others);</li>
        <li>The application is containerized using Docker for easy deployment of the project;</li>
        <li>Nginx in Docker-container with Docker-Compose capabilities was used as a proxy;</li>
        <li>The project itself is located on a cloud configuration server Ubuntu 20.04 LTS.</li>
      </ul>
    </div>
    </div>
  </div><!-- End Portfolio Details -->
  </main><!-- End #main -->



  <!-- Vendor JS Files -->
  <script src="{{ url('static', filename='/vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url('static', filename='/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url('static', filename='/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url('static', filename='/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url('static', filename='/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url('static', filename='/vendor/waypoints/noframework.waypoints.js') }}"></script>
  <script src="{{ url('static', filename='/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url('static', filename='/js/main.js') }}"></script>

</body>

</html>
